In [7]:
import pandas as pd
from sklearn import linear_model

In [8]:
df=pd.read_csv(r"C:\Users\ASUS\Desktop\DATA ANALYST DATA SCIENCE\insurance_premium.csv")

In [9]:
df  #one of the data is missing or is not available then use statistical methods to change it if missing data is less than25%

   Age  height  weight  Premium
0   25  162.56      70    18000
1   30  172.72      95    38000
2   35  167.64      78    38000
3   40     NaN     110    60000
4   45  157.48      85    70000

In [10]:
df.head()

   Age  height  weight  Premium
0   25  162.56      70    18000
1   30  172.72      95    38000
2   35  167.64      78    38000
3   40     NaN     110    60000
4   45  157.48      85    70000

In [11]:
df.describe()

             Age      height      weight       Premium
count   5.000000    4.000000    5.000000      5.000000
mean   35.000000  165.100000   87.600000  44800.000000
std     7.905694    6.558252   15.533834  20474.374227
min    25.000000  157.480000   70.000000  18000.000000
25%    30.000000  161.290000   78.000000  38000.000000
50%    35.000000  165.100000   85.000000  38000.000000
75%    40.000000  168.910000   95.000000  60000.000000
max    45.000000  172.720000  110.000000  70000.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Age      5 non-null      int64
 1   height   4 non-null      float64
 2   weight   5 non-null      int64
 3   Premium  5 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 292.0 bytes

In [15]:
mean_height=df.height.mean()
mean_height

165.1

In [16]:
df.height

0    162.56
1    172.72
2    167.64
3       NaN
4    157.48
Name: height, dtype: float64

In [17]:
df.height.fillna(mean_height)  #fill the not available data with mean

0    162.56
1    172.72
2    167.64
3    165.10
4    157.48
Name: height, dtype: float64

In [20]:
df

   Age  height  weight  Premium
0   25  162.56      70    18000
1   30  172.72      95    38000
2   35  167.64      78    38000
3   40     NaN     110    60000
4   45  157.48      85    70000

In [21]:
df.height=df.height.fillna(mean_height)

In [22]:
df

   Age  height  weight  Premium
0   25  162.56      70    18000
1   30  172.72      95    38000
2   35  167.64      78    38000
3   40  165.10     110    60000
4   45  157.48      85    70000

In [23]:
reg=linear_model.LinearRegression()

In [24]:
reg.fit(df[['Age','height','weight']],df['Premium'])

LinearRegression()

In [25]:
#y=m1*x1+m2*x2+m3*x3+c    Linear equation with multivariables
reg.coef_

array([2150.26052416, -248.45851574,  312.65291961])

In [26]:
reg.intercept_

-16827.01315482489

In [27]:
reg.predict([[27,167.56,60]])

C:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([18357.48727691])

In [28]:
reg.predict([[60,165.10,80]])

C:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([96180.35091498])