In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\ASUS\Desktop\DATA ANALYST DATA SCIENCE\premium.csv")

In [3]:
df

   Age  Premium
0   25    18000
1   30    32000
2   35    40000
3   40    47000
4   45    55000

In [4]:
#creating the dependent and independent variable . It is not required here as we have only single or binary variable
X=df.iloc[:,0]
y=df.iloc[:,1]

In [5]:
X

0    25
1    30
2    35
3    40
4    45
Name: Age, dtype: int64

In [6]:
y

0    18000
1    32000
2    40000
3    47000
4    55000
Name: Premium, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
 X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [9]:
X_train

2    35
4    45
3    40
0    25
Name: Age, dtype: int64

In [10]:
len(X_train)

4

In [11]:
X_test

1    30
Name: Age, dtype: int64

In [12]:
X_train.values  #.values convert the given datasets into the numpy array

array([35, 45, 40, 25], dtype=int64)

In [13]:
y_train

2    40000
4    55000
3    47000
0    18000
Name: Premium, dtype: int64

In [14]:
y_test

1    32000
Name: Premium, dtype: int64